<div class="d-flex align-items-center justify-content-center mt-20">
    <div class="content text-center">
        <h1 class="text-primary" style="font-size:50px;"> Làm: To do App </h1>
        {% if not user.is_authenticated %}
        <p> Keep track of what needs to be done! </p>

        <p> To start, please make an 
            <span 
                hx-get="{% url 'account_signup' %}" 
                hx-target="#authentication"
                hx-trigger="click"
                class= "hyperlink-underline"
            >
                account
            </span>.
        </p>
        {% endif %}
    </div>
</div>